extends layout
block content

  div(class='game')
    div(class='game-container')
      h1#index(style='color: #fff; font-size: 32px; text-shadow:1px 1px 1px black')=title
      canvas#background
        | Your browser does not support canvas :(, please try with another one!
      canvas#weapon
        | Your browser does not support canvas :(, please try with another one!
      div(class='form-container')
        form(method='post' action='' id="form")
          span(style='font-size: 16px; font-weight: bold;') Choose an Avatar
          br
          br
          .avatar-selector
            input#soldier(checked='checked', type='radio', name='avatar', value='soldier')
            label.avatar-card.soldier(for='soldier')
            input#tarzan(type='radio', name='avatar', value='tarzan')
            label.avatar-card.tarzan(for='tarzan')
            input#dumb(type='radio', name='avatar', value='dumb')
            label.avatar-card.dumb(for='dumb')
            input#cool(type='radio', name='avatar', value='cool')
            label.avatar-card.cool(for='cool')
          span(style='font-size: 16px; font-weight: bold') Choose a pseudo
          br
          br
          .pseudo-selector
            input#pseudo(type='text', name='pseudo')
            input#button-form(type='submit' class='btn-primary' value='Go !')
          h3#alert(style='font-size: 16px; font-weight: light; color: red; margin-top: 15px')
    div(class='dashboard-container')
      div#high-scores
        p(class='players white-title') High scores
        hr
        ul(class='players')
      div#dashboard
        p(class='players white-title') Dashboard
        hr
        ul(class='players')
  div(class='explanations-container')
    p#explications Tuez le maximum de joueurs en leur lançant une grenade. Il faut faire mouche 2 fois. Pour s'armer, cliquer sur espace. Pour viser, bouger la souris. Pour lancer la grenade : cliquer puis lâcher la barre espace !
  script(src='scripts/main.js')
